# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local and secret env files
.env
.env.*
.env*.local
!.env.example
docker-compose.yml
docker-compose.local.yml

# typescript
*.tsbuildinfo

# vercel
.vercel

# OS metadata
.DS_Store
Thumbs.db

# Archives
*.zip
*.tar.gz
*.rar
